In [1]:
import requests
import urllib.request
import pandas as pd
import io
from time import time
from datetime import datetime, timedelta
from bs4 import BeautifulSoup

timeFinifih = 0
start_time = time()

url = "http://web.mta.info/developers/turnstile.html"

response = requests.get(url)

instancia = 1

print('\n' + str(instancia) + ') Verificando conectividad a la url solicitada:')
instancia = instancia + 1

if response.status_code == 200:    
    print('•  Acceso Ok!')
    soup = BeautifulSoup(response.text, "html.parser")
    enlaces = soup.findAll('a')
    url_base = 'http://web.mta.info/developers/'
    txt_info = []
    print('\n' + str(instancia) + ') Verificando sub urls')
    for x in range(0, len(enlaces)):
        data = soup.findAll('a')[x]
        direccion = str(data).find('href')
        if direccion != -1:
            txt_file = data['href'].find('.txt')
            if txt_file != -1:
                folder = data['href'].find('data/nyct/turnstile/')
                if folder != -1:
                    txt_info.append(url_base + data['href'])
    print('•  Accesos Ok!')
    instancia = instancia + 1
    print('\n' + str(instancia) + ') El array txt_info tiene un total de ' + str(len(txt_info)) + ' enlaces')
    instancia = instancia + 1
    print('\n' + str(instancia) + ') Generando df base para obtener nombre de columnas ...')
    data = requests.get(txt_info[0]).content
    df = pd.read_csv(io.StringIO(data.decode('utf-8')))
    columnas = df.columns.tolist()
    instancia = instancia + 1
    print('\n' + str(instancia) + ') Columnas obtenidas: ' + str(columnas))
    df_final = pd.DataFrame(columns = columnas)
    enlaces_scrapeados = 10
    instancia = instancia + 1
    print('\n' + str(instancia) + ') Creando df_final con información de ' + str(enlaces_scrapeados) + ' enlaces seleccionados ...')
    for x in range (0, 10):
        nueva_data = requests.get(txt_info[x]).content
        nuevo_df = pd.read_csv(io.StringIO(nueva_data.decode('utf-8')))
        df_final = pd.concat([df_final, nuevo_df], axis=0)
        print('     Df generado enlace ' + str(x + 1) + ' de ' + str(enlaces_scrapeados) + ': Shape ' + str(df_final.shape))
    instancia = instancia + 1
    print('\n' + str(instancia) + ') df_final creado!')
    instancia = instancia + 1
    print('\n' + str(instancia) + ') df_final shape:' + str(df_final.shape))
    timeFinifih += (time() - start_time)
    instancia = instancia + 1
    print('\n' + str(instancia) + ') Tiempo total de gestión: ' + str(timedelta(seconds=timeFinifih)))
else:
    print('No se pudo conectar a la URL')

1) Verificando conectividad a la url solicitada:
•  Acceso Ok!

2) Verificando sub urls
•  Accesos Ok!

3) El array txt_info tiene un total de 492 enlaces

4) Generando df base para obtener nombre de columnas ...

5) Columnas obtenidas: ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS                                                               ']

6) Creando df_final con información de 10 enlaces seleccionados ...
     Df generado enlace 1 de 10: Shape (206603, 11)
     Df generado enlace 2 de 10: Shape (411939, 11)
     Df generado enlace 3 de 10: Shape (616867, 11)
     Df generado enlace 4 de 10: Shape (822452, 11)
     Df generado enlace 5 de 10: Shape (1027247, 11)
     Df generado enlace 6 de 10: Shape (1232510, 11)
     Df generado enlace 7 de 10: Shape (1438179, 11)
     Df generado enlace 8 de 10: Shape (1646745, 11)
     Df generado enlace 9 de 10: Shape (1852620, 11)
     Df generado enlace 10 de 10: Shape (2059616, 11)

7) df_final creado!

8) df_final shape:(2059616, 11)

9) Tiempo total de gestión: 0:03:35.832865

In [2]:
df_final.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/28/2019,00:00:00,REGULAR,7215740,2444319
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/28/2019,04:00:00,REGULAR,7215766,2444322
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/28/2019,08:00:00,REGULAR,7215788,2444357
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/28/2019,12:00:00,REGULAR,7215862,2444436
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/28/2019,16:00:00,REGULAR,7216108,2444474

In [3]:
df_final.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
206991,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/02/2019,05:00:00,REGULAR,5554,386
206992,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/02/2019,09:00:00,REGULAR,5554,386
206993,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/02/2019,13:00:00,REGULAR,5554,386
206994,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/02/2019,17:00:00,REGULAR,5554,386
206995,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/02/2019,21:00:00,REGULAR,5554,386